/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
/* Fonts */
:root {
	--font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Lato", sans-serif;
}

/* Global Colors */
:root {
	--color-default: #212529;
	--color-default-rgb: 33, 37, 41;
	--color-background: #ffffff;
	--color-background-rgb: #f11463;
	--color-primary: #7b215c;
	--color-primary-rgb: 232, 69, 69;
	--color-secondary: #32353a;
	--color-secondary-rgb: 50, 53, 58;
	--color-box-background: #ffffff;
	--color-box-background-rgb: #f11463;
	--color-inverse: #ffffff;
	--color-inverse-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
	--color-nav: #3a3939;
	--color-nav-hover: #f11463;
	--color-nav-dropdown: #3a3939;
	--color-nav-dropdown-hover: #f11463;
	--color-nav-dropdown-background: #ffffff;
	--color-nav-mobile-background: #ffffff;
}

/* Smooth scroll */
:root {
	scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	color: var(--color-default);
	background-color: var(--color-background);
	font-family: var(--font-primary);
	letter-spacing: 1px;
}

a {
	color: var(--color-primary);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #7b215c;
	text-decoration: none;
}

p {
	line-height: 30px;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
}

section {
	color: var(--color-default);
	background-color: var(--color-background);
	padding: 90px 0;
	overflow: clip;
}

.padding_none {
	padding: 0
}

.content_button {
	width: 100%;
	text-align: center;
}

.icon-bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:10px;
	z-index: 99999;
  }
  
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 10px;
	transition: all 0.3s ease;
	color: #fff;
	font-size: 20px;
  }
  
  .icon-bar a:hover {
	color:#6d1f5a;
  }
  
  .icon-bar a {
	color: #fff;
  }

  .icon-bar a i {
	color: #fff;
  }

  .icon-bar a i:hover {
	color: #6d1f5a;
  }

/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/


.section-title.section-planning h2 {
	color: #fff
}

.section-title {
	text-align: center;
	padding-bottom: 60px;
}

.section-title h2 {
	color: #32353a;
	font-size: 32px;
	font-weight: 700;
	position: relative;
}

.section-title h2:before,
.section-title h2:after {
	content: "";
	width: 50px;
	height: 2px;
	background: var(--color-primary);
	display: inline-block;
}

.section-title h2:before {
	margin: 0 15px 10px 0;
}

.section-title h2:after {
	margin: 0 0 10px 15px;
}

.section-title p {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Page Title & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
	--color-box-background: rgba(var(--color-default-rgb), .05);
	color: var(--color-default);
	background-color: var(--color-background);
}

.page-title .heading {
	padding: 80px 0;
	border-top: 1px solid rgba(var(--color-default-rgb), 0.1);
}

.page-title .heading h1 {
	font-size: 38px;
	font-weight: 700;
	color: var(--color-secondary);
}

.page-title nav {
	background-color: var(--color-box-background);
	padding: 20px 0;
}

.page-title nav ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.page-title nav ol li+li {
	padding-left: 10px;
}

.page-title nav ol li+li::before {
	content: "/";
	display: inline-block;
	padding-right: 10px;
	color: rgba(var(--color-default-rgb), 0.3);
}

.bannertext_first{
	margin-top: 25px;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/


.btn_started {
	background: #7b215c;
	border: 0;
	color: #fff;
	font-weight: 500;
	padding: 12px;
	border-radius: 8px;
}

.btn_started:hover {
	background: #2b2455;
}

.header {
	--color-background: #ffffff;
	--color-inverse: #ffffff;
	color: var(--color-default);
	background-color: var(--color-background);
	padding: 25px 0;
	transition: all 0.5s;
	z-index: 997;
}

.header .logo img {
	max-height: 60px;
	margin-right: 6px;
}

.header .logo h1 {
	font-size: 22px;
	margin: 0;
	font-weight: 600;
	color: var(--color-secondary);
}

.header .logo span {
	color: var(--color-primary);
	font-size: 24px;
	font-weight: 600;
	padding-left: 3px;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
	color: var(--color-inverse);
	background: var(--color-primary);
	font-size: 14px;
	padding: 8px 26px;
	margin: 0;
	border-radius: 4px;
	transition: 0.3s;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
	color: var(--color-inverse);
	background: rgba(var(--color-primary-rgb), 0.85);
}

@media (max-width: 1200px) {
	.header .logo {
		order: 1;
	}

	.header .btn-getstarted {
		order: 2;
		margin: 0 15px 0 0;
		padding: 6px 20px;
	}

	.header .navmenu {
		order: 3;
	}
	.getintouch{
		display: none;
	}
}

.getintouch{
	color: var(--color-secondary);
}

/* Global Header on page scroll
------------------------------*/
.scrolled .header {
	--color-background: #ffffff;
	--color-secondary: #444444;
	--color-nav: #444444;
	--color-nav-hover: #e84545;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Global Scroll Margin Top
------------------------------*/
section {
	scroll-margin-top: 90px;
}

@media (max-width: 1199px) {
	section {
		scroll-margin-top: 66px;
	}
}

/* Home Page Custom Header
------------------------------*/
.index-page .header {
	--color-background: rgba(255, 255, 255, 0);
	--color-secondary: #ffffff;
	--color-nav: #ffffff;
	--color-nav-hover: #c11b5e;
}

/* Home Page Custom Header on page scroll
------------------------------*/
.index-page.scrolled .header {
	--color-background: #ffffff;
	--color-secondary: #444444;
	--color-nav: #444444;
	--color-nav-hover: #e01762;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
	.navmenu {
		padding: 0;
	}

	.navmenu ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}

	.navmenu li {
		position: relative;
	}

	.navmenu a,
	.navmenu a:focus {
		color: var(--color-nav);
		padding: 15px 26px;
		font-size: 16px;
		font-family: var(--font-secondary);
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: 0.3s;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		transition: 0.3s;
	}

	/* .navmenu li:last-child a {
		padding-right: 0;
	} */

	.navmenu li:hover>a,
	.navmenu .active,
	.navmenu .active:focus {
		color: var(--color-nav-hover);
		
	}

	.navmenu .dropdown ul {
		margin: 0;
		padding: 10px 0;
		background: var(--color-nav-dropdown-background);
		display: block;
		position: absolute;
		visibility: hidden;
		left: 14px;
		top: 130%;
		opacity: 0;
		transition: 0.3s;
		border-radius: 4px;
		z-index: 99;
	}

	.navmenu .dropdown ul li {
		min-width: 200px;
	}

	.navmenu .dropdown ul a {
		padding: 10px 20px;
		font-size: 15px;
		text-transform: none;
		color: var(--color-nav-dropdown);
	}

	.navmenu .dropdown ul a i {
		font-size: 12px;
	}

	.navmenu .dropdown ul a:hover,
	.navmenu .dropdown ul .active:hover,
	.navmenu .dropdown ul li:hover>a {
		color: var(--color-nav-dropdown-hover);
	}

	.navmenu .dropdown:hover>ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.navmenu .dropdown .dropdown ul {
		top: 0;
		left: -90%;
		visibility: hidden;
	}

	.navmenu .dropdown .dropdown:hover>ul {
		opacity: 1;
		top: 0;
		left: -100%;
		visibility: visible;
	}

	.navmenu .megamenu {
		position: static;
	}

	.navmenu .megamenu ul {
		margin: 0;
		padding: 10px;
		background: var(--color-nav-dropdown-background);
		box-shadow: 0px 0px 20px rgba(var(--color-default-rgb), 0.1);
		display: block;
		position: absolute;
		top: 130%;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		display: flex;
		transition: 0.3s;
		border-radius: 4px;
		z-index: 99;
	}

	.navmenu .megamenu ul li {
		flex: 1;
	}

	.navmenu .megamenu ul li a,
	.navmenu .megamenu ul li:hover>a {
		padding: 10px 20px;
		font-size: 15px;
		color: var(--color-nav-dropdown);
	}

	.navmenu .megamenu ul li a:hover,
	.navmenu .megamenu ul li .active,
	.navmenu .megamenu ul li .active:hover {
		color: var(--color-nav-dropdown-hover);
	}

	.navmenu .megamenu:hover>ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.navmenu .dd-box-shadow {
		box-shadow: 0px 0px 30px rgba(var(--color-default-rgb), 0.15);
	}
}

/* Mobile Navigation */
@media (max-width: 1199px) {
	.mobile-nav-toggle {
		color: var(--color-nav);
		font-size: 28px;
		line-height: 0;
		margin-right: 10px;
		cursor: pointer;
		transition: color 0.3s;
	}

	.navmenu {
		padding: 0;
		z-index: 9997;
	}

	.navmenu ul {
		display: none;
		position: absolute;
		inset: 60px 20px 20px 20px;
		padding: 10px 0;
		margin: 0;
		border-radius: 6px;
		background-color: var(--color-nav-mobile-background);
		overflow-y: auto;
		transition: 0.3s;
		z-index: 9998;
		box-shadow: 0px 0px 30px rgba(var(--color-default-rgb), 0.1);
	}

	.navmenu a,
	.navmenu a:focus {
		color: var(--color-nav-dropdown);
		padding: 8px 17px;
		font-family: var(--font-secondary);
		font-size: 17px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: 0.3s;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: 0.3s;
		background-color: rgba(var(--color-primary-rgb), 0.1);
	}

	.navmenu a i:hover,
	.navmenu a:focus i:hover {
		background-color: var(--color-primary);
		color: var(--color-inverse);
	}

	.navmenu a:hover,
	.navmenu .active,
	.navmenu .active:focus {
		color: var(--color-nav-dropdown-hover);
	}

	.navmenu .active i,
	.navmenu .active:focus i {
		background-color: var(--color-primary);
		color: var(--color-inverse);
		transform: rotate(180deg);
	}

	.navmenu .dropdown ul,
	.navmenu .megamenu ul {
		position: static;
		display: none;
		z-index: 99;
		padding: 10px 0;
		margin: 10px 20px;
		background-color: var(--color-nav-dropdown-background);
		transition: all 0.5s ease-in-out;
	}

	.navmenu .dropdown ul ul,
	.navmenu .megamenu ul ul {
		background-color: rgba(33, 37, 41, 0.1);
	}

	.navmenu .dropdown>.dropdown-active,
	.navmenu .megamenu>.dropdown-active {
		display: block;
		background-color: rgba(33, 37, 41, 0.03);
	}

	.mobile-nav-active {
		overflow: hidden;
	}

	.mobile-nav-active .mobile-nav-toggle {
		color: #fff;
		position: absolute;
		font-size: 32px;
		top: 15px;
		right: 15px;
		margin-right: 0;
		z-index: 9999;
	}

	.mobile-nav-active .navmenu {
		position: fixed;
		overflow: hidden;
		inset: 0;
		background: rgba(33, 37, 41, 0.8);
		transition: 0.3s;
	}

	.mobile-nav-active .navmenu>ul {
		display: block;
	}
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background-color: var(--color-primary);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.scroll-top i {
	font-size: 24px;
	color: #ffffff;
	line-height: 0;
}

.scroll-top:hover {
	background-color: #382454;
	color: #ffffff;
}

.scroll-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	overflow: hidden;
	background-color: var(--color-background);
	transition: all 0.6s ease-out;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#preloader div {
	width: 13px;
	height: 13px;
	background-color: var(--color-primary);
	border-radius: 50%;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
	position: absolute;
	left: 50%;
}

#preloader div:nth-child(1) {
	left: calc(50% + 8px);
	animation: animate-preloader-1 0.6s infinite;
}

#preloader div:nth-child(2) {
	left: calc(50% + 8px);
	animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(3) {
	left: calc(50% + 32px);
	animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(4) {
	left: calc(50% + 56px);
	animation: animate-preloader-3 0.6s infinite;
}

@keyframes animate-preloader-1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes animate-preloader-3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes animate-preloader-2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	--color-background: #2b2454;
	--color-box-background: #eaeaea;
	color: var(--color-default);
	background-color: var(--color-background);
	font-size: 16px;
	position: relative;
	color: #fff;
}

.footer .footer-top {
	padding-top: 50px;
}

.footer .footer-about .logo {
	line-height: 0;
	margin-bottom: 25px;
}

.footer .footer-about .logo img {
	max-height: 60px;
	margin-right: 6px;
}

.footer .footer-about .logo span {
	color: var(--color-secondary);
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: var(--font-primary);
}

.footer .footer-about p {
	font-size: 16px;
	font-family: var(--font-primary);
}

.footer .social-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 16px;
	color: #fff;
	margin-right: 10px;
	transition: 0.3s;
}

.footer .social-links a:hover {
	color: var(--color-primary);
	border-color: var(--color-primary);
}

.footer h4 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

.footer .footer-links {
	margin-bottom: 30px;
}

.footer .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 1;
	position: relative;
}

.footer .footer-links ul i {
	padding-right: 2px;
	font-size: 12px;
	line-height: 0;
}

.footer .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.footer .footer-links ul li:first-child {
	padding-top: 0;
}

.footer .footer-links ul a {
	color: #fff;
	display: inline-block;
	line-height: 1;
}

.footer .footer-links ul a:hover {
	color: var(--color-primary);
}

.footer .footer-contact p {
	margin-bottom: 5px;
}

.footer .copyright {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #2b2454;
}

.footer .copyright p {
	margin-bottom: 0;
}

.footer .credits {
	margin-top: 6px;
	font-size: 13px;
}

.footer-map {
	position: absolute;
	right: 20%;
	top: 36%;
	transform: translateY(-40%);
	z-index: 0;
	opacity: .8;
}

.footer-map img {
	width: 78%;
}

/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
/* Hero Section - Home Page
------------------------------*/

#myVideo {
	position: absolute;
	width: 100%;
	opacity: 0.2;
}

.hero {
	--color-default: #ffffff;
	--color-default-rgb: 255, 255, 255;
	--color-background: #000000;
	--color-background-rgb: 0, 0, 0;
	width: 100%;
	min-height: 100vh;
	position: relative;
	padding: 160px 0 80px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero img {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
}

/* .hero:before {
	content: "";
	background: rgba(var(--color-background-rgb), 0.5);
	position: absolute;
	inset: 0;
	z-index: 2;
} */

.hero .container {
	position: relative;
	z-index: 3;
}

.hero h2 {
	margin: 0;
    font-size: 4.50rem;
    font-weight: 700;
    line-height: 1;
}

.hero p {
	color: rgba(var(--color-default-rgb), 0.8);
	margin: 25px 0 25px 0;
	font-size: 20px;
}

.hero .sign-up-form {
	margin-top: 20px;
	padding: 10px;
	border-radius: 7px;
	background: var(--color-box-background);
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}

.hero .sign-up-form .form-control {
	border: none;
}

.hero .sign-up-form .form-control:active,
.hero .sign-up-form .form-control:focus {
	outline: none;
	box-shadow: none;
}

.hero .sign-up-form input[type=submit] {
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	padding: 8px 20px 10px 20px;
	border-radius: 7px;
	color: var(--color-inverse);
}

.hero .sign-up-form input[type=submit]:hover {
	background-color: rgba(var(--color-primary-rgb), 0.9);
}

@media (max-width: 768px) {
	.hero h2 {
		font-size: 32px;
	}

	.hero p {
		font-size: 20px;
	}
}


/* Clients Section - Home Page
------------------------------*/
.client_Customer {
	display: flex;
	justify-content: space-between;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	background: #fff;
	background-size: cover;
	background-position: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	& img {
		display: block;
		width: 80%;
		height: 100%;
		object-fit: cover;
	}
}

.mySwiper {
	width: 100%;
	height: 10%;
	box-sizing: border-box;
	margin-top: 1rem;

}

.client-logo {
	padding: 0 45px;
	width: 250px;
}

.clients {
	padding: 10px 0;
}

.clients .client-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.clients .client-logo img {
	padding: 20px;
	max-width: 80%;
	transition: 0.3s;
	opacity: 0.5;
	filter: grayscale(100);
}

.clients .client-logo img:hover {
	filter: none;
	opacity: 1;
}

@media (max-width: 640px) {
	.clients .client-logo img {
		padding: 20px;
	}
}

/*--------------------------------------------------------------
# About Lists
--------------------------------------------------------------*/
.about{
	background: #f4f4f4;
}

.about-lists {
	padding: 60px;
	--color-background: #2b2454;
	color: #fff;
}

.about-lists .row {
	overflow: hidden;
}

.about-lists .content-item:hover {
	background-color: #7b215c;
	color: #fff;
}

.about-lists .content-item {
	padding: 50px;
	border-left: 1px solid #d9e8f4;
	border-bottom: 1px solid #d9e8f4;
	margin: -1px;
}

.about-lists .content-item span {
	display: block;
	font-size: 24px;
	font-weight: 700;
}

.about-lists .content-item h4 {
	font-weight: 700;
	font-size: 18px;
	padding: 0;
	margin: 20px 0;
}

.about-lists .content-item p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.about-lists .content-item {
		padding: 40px 0;
	}

	.industr .content .about_img{
		padding:30px !important;
		width: auto;
	}
}	

/* About Section - Home Page
------------------------------*/
.about_img {
	padding: 30px;
	width: 80%
	
}

.aboutus_footertitle {
	margin-top: 50px
}

.about .content h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 45px;
	padding: 10px 20px;
	background: rgba(var(--color-primary-rgb), 0.05);
	color: var(--color-primary);
	border-radius: 7px;
	display: inline-block;
}

.about .content h2 {
	color: var(--color-secondary);
	font-weight: 700;
}

.about .content p:last-child {
	margin-bottom: 0;
}

.about .content .read-more {
	background: var(--color-primary);
	color: var(--color-inverse);
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 12px 24px;
	border-radius: 5px;
	transition: 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.about .content .read-more i {
	font-size: 20px;
	margin-left: 5px;
	line-height: 0;
	transition: 0.3s;
}

.about .content .read-more:hover {
	background: #382454;
	padding-right: 19px;
}

.about .content .read-more:hover i {
	margin-left: 10px;
}

.about .icon-box {
	padding: 50px 40px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.3s ease-out 0s;
	background-color: var(--color-box-background);
}

.about .icon-box i {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
	font-size: 32px;
	line-height: 0;
	transition: all 0.4s ease-out 0s;
	background-color: rgba(var(--color-primary-rgb), 0.05);
	color: var(--color-primary);
}

.about .icon-box h3 {
	color: var(--color-secondary);
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
}

.about .icon-box p {
	margin-bottom: 0;
	line-height: 30px;
	font-size:14px
}

.about .icon-box:hover i {
	background-color: var(--color-primary);
	color: var(--color-inverse);
}

.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
	margin-top: -40px;
}

@media (max-width: 768px) {

	.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
	.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
		margin-top: 0;
	}
}

/* .about .icon-boxes {
	margin-bottom: 40px
} */

.numbericon {
	border: 5px solid #7b215c6e;
	width: 18%;
	text-align: center;
	border-radius: 30px;
	padding: 7px;
}


/* Services Section - Home Page
------------------------------*/

.services .wb_background
{
	position: relative;
	
}
.services .wb_background img
{
	position: absolute;
	width: 50%;
	opacity: 0.1;
	 justify-self: anchor-center;
}

.services .service-item {
	position: relative;
	padding-top: 40px;
}

.services .service-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	/* background: rgba(var(--color-default-rgb), 0.1); */
}

.services .service-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background: var(--color-primary);
	border-right: 5px solid var(--color-background);
}

.services .service-item .icon {
	width: 48px;
	height: 48px;
	position: relative;
	margin-right: 50px;
	line-height: 0;
}

.services .service-item .icon i {
	color: #7b215c;
	font-size: 56px;
	transition: ease-in-out 0.3s;
	z-index: 2;
	position: relative;
}

.services .service-item .icon:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	background: rgba(var(--color-primary-rgb), 0.3);
	border-radius: 50px;
	z-index: 1;
	bottom: -15px;
	right: -15px;
	transition: 0.3s;
}

.services .service-item .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.services .service-item .title a {
	color: var(--color-secondary);
}

.services .service-item .title a:hover {
	color: var(--color-primary);
}

.services .service-item .description {
	line-height: 30px;
	font-size: 14px;
}

/* Features Section - Home Page
------------------------------*/
.features .features-item {
	color: rgba(var(--color-default-rgb), 0.8);
}

.features .features-item+.features-item {
	margin-top: 60px;
}

@media (max-width: 768px) {
	.features .features-item+.features-item {
		margin-top: 40px;
	}
	
}

.features .features-item h3 {
	color: var(--color-secondary);
	font-weight: 700;
	font-size: 18px;
}

.features .features-item .btn-get-started {
	background-color: var(--color-primary);
	color: var(--color-inverse);
	padding: 8px 30px 10px 30px;
	border-radius: 4px;
}

.features .features-item .btn-get-started:hover {
	background-color: #382454;
}

.features .features-item ul {
	list-style: none;
	padding: 0;
}

.features .features-item ul li {
	padding-bottom: 10px;
	display: flex;
	align-items: flex-start;
}

.features .features-item ul li:last-child {
	padding-bottom: 0;
}

.features .features-item ul i {
	font-size: 20px;
	padding-right: 4px;
	color: var(--color-primary);
}

.features .features-item img {
	border: 6px solid var(--color-box-background);
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.features .features-item .features-img-bg {
	position: relative;
	min-height: 500px;
}

@media (max-width: 640px) {
	.features .features-item .features-img-bg {
		min-height: 300px;
	}
	
}

.features .features-item .features-img-bg img {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
}

.stack-front {
	width: 100%
}

.features .features-item .image-stack {
	display: grid;
	position: relative;
	grid-template-columns: repeat(12, 1fr);
}

.features .features-item .image-stack .stack-back {
	grid-column: 4/-1;
	grid-row: 1;
	width: 100%;
	z-index: 1;
}

.features .features-item .image-stack .stack-front {
	grid-row: 1;
	grid-column: 1/span 8;
	margin-top: 20%;
	width: 100%;
	z-index: 2;
}

.features .align-self-start i {
	font-size: 20px;
	margin-left: 5px;
	line-height: 0;
	transition: 0.3s;
}

/* Portfolio Section - Home Page
------------------------------*/
.slider {
	height: 600px;
	margin: auto;
	position: relative;
	width: 90%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slide-track {
	display: flex;
	width: calc(600px * 12);
	animation: scroll 40s linear infinite;
}

.slide-track:hover {
	animation-play-state: paused;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-600px * 6));
	}
}

.slide {
	/* height: 700px; */
	width: 600px;
	/* display: flex; */
	align-items: center;
	/* padding: 15px; */
	perspective: 100px;
}

.slide img {
	width: 90%;
	transition: transform 1s;
}

.slide img:hover {
	transform: translateZ(20px);
}

.slider::before,
.slider::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 100%);
	content: '';
	height: 100%;
	position: absolute;
	width: 7%;
	z-index: 1;
}

.slider::before {
	left: 0;
	top: 0;
}

.slider:after {
	right: 0;
	top: 0;
	transform: rotatez(180deg);
}

.portfolio .portfolio-filters {
	padding: 0;
	margin: 0 auto 20px auto;
	list-style: none;
	text-align: center;
}

.portfolio .portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px 10px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 5px;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	font-family: var(--font-secondary);
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
	color: var(--color-inverse);
	background-color: var(--color-primary);
}

.portfolio .portfolio-filters li:first-child {
	margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
	margin-right: 0;
}

@media (max-width: 575px) {
	.portfolio .portfolio-filters li {
		font-size: 14px;
		margin: 0 0 10px 0;
	}
}

.portfolio .portfolio-item {
	position: relative;
	overflow: hidden;
}

.portfolio .portfolio-item .portfolio-info {
	opacity: 0;
	position: absolute;
	left: 12px;
	right: 12px;
	bottom: -100%;
	z-index: 3;
	transition: all ease-in-out 0.5s;
	background: rgba(var(--color-box-background-rgb), 0.9);
	padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
	color: var(--color-secondary);
	font-size: 20px;
	font-weight: 600;
	padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info p {
	color: rgba(var(--color-default-rgb), 0.7);
	font-size: 14px;
	margin-bottom: 0;
	padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
	position: absolute;
	right: 50px;
	font-size: 24px;
	top: calc(50% - 14px);
	color: rgba(var(--color-default-rgb), 0.7);
	transition: 0.3s;
	line-height: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
	color: var(--color-primary);
}

.portfolio .portfolio-item .portfolio-info .details-link {
	right: 14px;
	font-size: 28px;
}

.portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
	bottom: 0;
}

/* Faq Section - Home Page
------------------------------*/
.faq .content h3 {
	color: var(--color-secondary);
	font-weight: 700;
	font-size:18px;
	padding: 0 0 33px 0;

}

.faq .content p {
	font-size: 14px;
	color: rgba(var(--color-default-rgb), 0.7);
}

.faq .faq-container .faq-item {
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 25px 0px rgba(var(--color-default-rgb), 0.1);
	overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
	margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
	color: var(--color-secondary);
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin: 0 30px 0 0;
	transition: 0.3s;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
}

.faq .faq-container .faq-item h3 .num {
	color: var(--color-primary);
	padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
	color: var(--color-primary);
}

.faq .faq-container .faq-item .faq-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
	margin-bottom: 0;
	overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 16px;
	line-height: 0;
	transition: 0.3s;
	cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
	color: var(--color-primary);
}

.faq .faq-container .faq-active h3 {
	color: var(--color-primary);
}

.faq .faq-container .faq-active .faq-content {
	grid-template-rows: 1fr;
	visibility: visible;
	opacity: 1;
	padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
	transform: rotate(90deg);
	color: var(--color-primary);
}

/* Call-to-action Section - Home Page
------------------------------*/
.call-to-action {
	--color-default: #ffffff;
	--color-background: #000000;
	--color-background-rgb: 0, 0, 0;
	padding: 80px 0;
	position: relative;
	-webkit-clip-path: inset(0);
	clip-path: inset(0);
}

.call-to-action img {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
	opacity: 0.2;
}

/* .call-to-action:before {
	content: "";
	background: rgba(var(--color-background-rgb), 0.5);
	position: absolute;
	inset: 0;
	z-index: 2;
} */

.call-to-action .container {
	position: relative;
	z-index: 3;
}

.call-to-action h3 {
	font-size: 28px;
	font-weight: 700;
	color: var(--color-default);
}

.call-to-action p {
	color: #fff;
}

.call-to-action .cta-btn {
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 40px;
	border-radius: 5px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid var(--color-inverse);
	color: var(--color-inverse);
	background-color: var(--color-primary);
}

.call-to-action .cta-btn:hover {
	background-color: #3d2357;
	border: 2px solid #3d2357;
}


/* Recent-posts Section - Home Page
------------------------------*/

.recent-posts{
	padding: 40px 0;
}

.recent-posts article {
	background-color: var(--color-box-background);
	box-shadow: 0 4px 16px rgba(var(--color-default-rgb), 0.1);
	padding: 30px;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.recent-posts .post-img {
	max-height: 240px;
	margin: -30px -30px 15px -30px;
	overflow: hidden;
}

.recent-posts .post-category {
	font-size: 16px;
	color: rgba(var(--color-default-rgb), 0.5);
	margin-bottom: 10px;
}

.recent-posts .title {
	font-size: 20px;
	font-weight: 600;
	padding: 0;
	margin: 0 0 20px 0;
}

.recent-posts .title a {
	color: var(--color-secondary);
	transition: 0.3s;
}

.recent-posts .title a:hover {
	color: var(--color-primary);
}

.recent-posts .post-author-img {
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.recent-posts .post-author {
	font-weight: 600;
	margin-bottom: 5px;
}

.recent-posts .post-date {
	font-size: 14px;
	color: rgba(var(--color-default-rgb), 0.5);
	margin-bottom: 0;
}

/* Contact Section - Home Page
------------------------------*/
.contact {
	--color-box-background: #f7f7f7;
}

.contact h3 {
	font-size: 18px;
	font-weight: 700;
	padding: 0 0 30px 0
}

.contact .info-item {
	background: var(--color-box-background);
	padding: 30px;
}

.contact .info-item i {
	font-size: 38px;
	line-height: 0;
	color: var(--color-primary);
}

.contact .info-item h3 {
	color: var(--color-secondary);
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0 10px 0;
}

.contact .info-item p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.contact .php-email-form {
	background: var(--color-box-background);
	padding: 30px;
	height: 100%;
}

.contact .php-email-form label {
	font-size: 16px;
	font-weight: 700;
	padding: 10px 0;
}

.contact .php-email-form .error-message {
	display: none;
	background: #df1529;
	color: #ffffff;
	text-align: left;
	padding: 15px;
	margin-bottom: 24px;
	font-weight: 600;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #ffffff;
	background: #059652;
	text-align: center;
	padding: 15px;
	margin-bottom: 24px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: var(--color-background);
	text-align: center;
	padding: 15px;
	margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid var(--color-primary);
	border-top-color: var(--color-background);
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
	font-size: 14px;
	padding: 16px 15px;
	box-shadow: none;
	border-radius: 5px;
	color: var(--color-default);
	background-color: #fff;
	border-color: rgba(var(--color-default-rgb), 0.2);
	border: 2px solid #fff;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
	border-color: var(--color-primary);
}

.contact .php-email-form input[type=text]::-moz-placeholder,
.contact .php-email-form input[type=email]::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
	color: rgba(var(--color-default-rgb), 0.3);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
	color: rgba(var(--color-default-rgb), 0.3);
}

.contact .php-email-form button[type=submit] {
	background: var(--color-primary);
	color: var(--color-inverse);
	border: 0;
	padding: 10px 30px;
	transition: 0.4s;
	border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
	background: #382454;
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Indus we work
--------------------------------------------------------------*/
/* Indus we work - Industrial Page
------------------------------*/

.industr .content{
	text-align: right;
}

.industr .content .about_img{
	padding:30px 0 30px 30px;
	width: auto;
}

.industrial h3{
	font-size: 18px;
	font-weight: 700;
}
.industrial .content{
	text-align: right;
}

.industrial {
	margin:40px 0;
	display: none;
}

.Indusicon-box {
	border-radius: 0px 50% 0px 50%;
	/* margin: 25px; */
	padding: 30px 20px;
	height: 175px;
	text-align: center;
	width: 100%;
	/* min-height: 170px; */
	border-radius: 8px 40px;
	-webkit-box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, .059), 0 8.2px 8.9px -30px rgba(0, 0, 0, .071), 0 25px 40px -30px rgba(0, 0, 0, .2);
	box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, .059), 0 8.2px 8.9px -30px rgba(0, 0, 0, .071), 0 25px 40px -30px rgba(0, 0, 0, .2);
}

.Indusicon-box:hover {
	border: 8px solid #7b215c;
	transition: 0.5s
}

.Indusicon-box.active {
	border: 8px solid #7b215c;
	transition: 0.5s
}

.Indusicon-box img {
	padding: 0;
	width: auto;
}

.indus1 {
	background-color: #70e4e8;
}

.indus2 {
	background-color: #f5eb92;
}

.indus3 {
	background-color: #a3ffe2;
}

.indus4 {
	background-color: #ffbc7a;
}

.indus5 {
	background-color: #e3ff8e;
}

.indus6 {
	background-color: #f3a6ff;
}

.indus7 {
	background-color: #97ffaf;
}

.indus8 {
	background-color: #6cfffa;
}




/*Trying banner*/

.cubedesign{
	position: absolute;
    right: 0;
}
.cubedesign .round1{
	background: #ffbc7a;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    opacity: 0.4;
	display: flex;
	justify-content: center;
    align-items: center;
   
}

.cubedesign .round2{
	background: #e3ff8e;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    opacity: 0.4;
    position: absolute;
    left: 0;
    left: -35px;
    bottom: -45px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.cubedesign .round3 {
    background: #6cfffa;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    opacity: 0.4;
    position: absolute;
    left: -85px;
    bottom: -50px;
	display: flex;
    justify-content: center;
    align-items: center;
}

 .bounce-in-right {
	animation: bounce-in-right 4s ease;
  }

  .bounce-in-right1 {
	animation: bounce-in-right 6s ease;
  }

  .bounce-in-right2 {
	animation: bounce-in-right 8s ease;
  }

  @keyframes bounce-in-right {
	0% {
	  opacity: 0;
	  transform: translateX(2000px);
	}
	60% {
	  opacity: 1;
	  transform: translateX(-30px);
	}
	80% { transform: translateX(10px); }
	100% { transform: translateX(0); }
  }

  @keyframes bounce-in-right1 {
	0% {
	  opacity: 0;
	  transform: translateX(2000px);
	}
	60% {
	  opacity: 1;
	  transform: translateX(-30px);
	}
	80% { transform: translateX(10px); }
	100% { transform: translateX(0); }
  }

  @keyframes bounce-in-right2 {
	0% {
	  opacity: 0;
	  transform: translateX(2000px);
	}
	60% {
	  opacity: 1;
	  transform: translateX(-30px);
	}
	80% { transform: translateX(10px); }
	100% { transform: translateX(0); }
  }



.banner_scroll{
	font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 75px;
    right: -40px;
    transform: rotate(270deg);
}
.banner_scroll:hover{
	color: #6d1f5a;
}

.cross_background{
	background: #0a080c;
    width: 100%;
    height: 200px;
    transform: rotate(354deg);
    left: -16px;
    position: relative;
    top: -109px;
}

.about_section{
	padding-top:0;
}

#alertComment {
    color: rgb(255, 119, 119);
    visibility: visible;
    font-size: 16px;
}

#sentmessage {
    color: #047e13;
    visibility: hidden;
    font-size: 14px;
}

#errormessage {
    color: rgb(255, 119, 119);
    visibility: hidden;
    font-size: 14px;
}

#sendJoke {
    opacity: .4;
	margin-top:15px;
}

#sendJoke.activated {
    opacity: 1;
}
