@media screen and (max-width: 1500px) {
	.mobile {
        display:block;
    }
    .desktop{
        display: none;
    }
    .client_image{
        width: 19%;
    }
    .tooltip1 .tooltiptext, .tab-pane img{
        display: none;
    }
    .model_video{width:100%}
    .contact_inner{
        margin-top: 35px;
    }
}
@media screen and (max-width:1200px) {
    .service_accordian .accordion0, .service_accordian .accordion1, .service_accordian .accordion2, .service_accordian .accordion3, .service_accordian .accordion4, .service_accordian .accordion5{
        transform: none;
    }
    .businessgoal_innerdiv img:first-child, .businessgoal_innerdiv img:last-child{
        width:100%;
        position: static;
    }
}
@media screen and (max-width: 900px) {
    .form-control{
        width: 100%;
        margin-left: 0;
    }
    .form_contact {
        height: auto;
    }
    .tooltip1 .tooltiptext, .tab-pane img{
        display: none;
    }
    .client_image{
        width: 32%;
    }
    .industrial{
        background-size: contain;
    }
    .services_talkbtn{
        display: none;
    }
    .aboutmain_div{
        padding: 0;
    }
    .about_img {
        width: 24%;
        top: -17%;
    }
    .button_navigate .qube{
        width: 215px;
    }
    .headert_talkexpert_btn{
        margin-top:25px
    }
    .sidebar{
        top:18%
    }
     .clientslide_right div, .clientslide_left div{
        min-width: 300px;
    }
    .ourclient img{
        width:100%
    }
}

@media screen and (max-width: 600px) {
    .client_image{
        width: 46%;
    }
    .services_btn, .services .nav-item .nav-link{
         text-align: left;
    }
    
    .headert_talkexpert_btn{
        position: relative;
    }
    .menu{display: none;}
    .headert_talkexpert_btn .getintouch{
        position: absolute;
    }
    .header{
        padding: 30px 0;
    }
    #news-slider {
        margin-top: 35%
    }
    .social-links.d-flex {
        padding-top: 20px;
    }
    
   .industrial_content{
        width:100%;
        padding: 18px 0;
   }
   .hero h2{
        font-size: 32px;
   }
   .home_head{
        padding: 0px 10px;
   } 
   
}

@media screen and (max-width: 500px) {
    .client_image{
        width: 100%;
    }
    .sidebar{
        top:25%
    }
    .services{
        background: none;
    }
    .home_head b{
        float:none
    }
    
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .form-control{
        width:100%
    }
    .client_image{
        width: 23%;
    }
    
}

@media screen and (max-width: 1200px) {
    .service_accordian .accordion, .service_accordian .accordion1, .service_accordian .accordion2, .service_accordian .accordion3, .service_accordian .accordion4, .service_accordian .accordion5 {
        transform: none;
    }
    .service_accordian{
        height: auto;
    }
    .mobile img {
        width:100%
    }
    .service_domain{
        display: none;
    }
    
}

@media screen and (max-width: 1700px){
    .spectacledcoder-carousel 
    {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 10%;
    }
    .servicepage_accordian .accordion .accordion-button .mailArrow{
        right: 0;
    }
}

